.navGroup {
  gap: 0;
}
.navGroup .navLink {
  padding-inline: 0.5rem;
}

.darkBorderColor {
  border-color: var(--mantine-color-lime-4) !important;
}

.navGroup .navLink.active {
  border-bottom: 2px solid white;
}

.navGroup .navLink:hover {
  border-bottom: 2px solid white;
}
