.main {
  background-color: rgb(186, 234, 109);
  -webkit-box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 12px 10px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  min-height: 35em;
}

.textShadow {
  text-shadow: 2px 2px 4px black;
}

.heroInfo {
  align-self: center;
  z-index: 99;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: fit-content;
}

/* .heroInfo p {
  color: white;
  padding-inline: 3rem;
} */

.heroInfo a {
  padding-inline: 6rem;
}

.heroInfo img {
  max-width: 500px;
  height: auto;
  width: 100%;
  min-width: 250px;
}

.heroImg {
  overflow: hidden;
  width: 100%;
}

.heroImg img {
  width: inherit;
  filter: brightness(0.9);
}

.aboutSectionContainer {
  max-width: 73em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  padding-inline: 2rem;
  padding-top: 3rem;
}

.promotionSectionContainer {
  padding-bottom: 2rem;
  border-bottom: 3px #12b886 solid;
}

.promotionSectionHeadings {
  margin-bottom: 0rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #12b886;
}

.promotionSectionDescription {
  font-weight: 300;
  font-size: 1.25rem;
}

.promotionSectionIcons {
  stroke: teal;
  stroke-width: 2;
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
}

.promotionImg {
  height: auto;
  max-width: 640px;
}

.infoSectionContainer {
  margin-top: 5rem;
  padding-inline: 5rem;
}

@media (max-width: 75em) {
  .aboutSectionContainer {
    max-width: 60em;
  }
}

@media (max-width: 62em) {
  .aboutSectionContainer {
    max-width: 46em;
    padding-inline: 1rem;
  }

  .infoSectionContainer {
    padding-inline: 2rem;
  }

  .promotionImg {
    max-width: 100%;
  }
}

@media (max-width: 48em) {
  .heroInfo div {
    padding-inline: 1rem;
  }

  .heroInfo a {
    padding-inline: 3rem;
  }

  .infoSectionContainer {
    padding-inline: 0;
  }
}
